<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MovieRama</title>
</head>
<body>
<header>
    <div th:fragment="navbar">
        <div th:if="${not #authorization.expression('isAuthenticated()')}">
            <!-- If user is not authenticated, show login and signup links -->
            <a th:href="@{/login}">Log in</a> or
            <a th:href="@{/signup}">Sign up</a>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <!-- If user is authenticated, show welcome back message and logout link -->
            <span th:if="${#authentication.principal.username != 'anonymousUser'}">
            Welcome back <span th:text="${#authentication.principal.username}">Username</span>!
            <a th:href="@{/logout}">Logout</a>
        </span>
        </div>
    </div>
</header>
<h1>MovieRama</h1>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <a class="btn btn-primary" th:href="@{/movies/new}">New Movie</a>
</div>
<h1>Movies</h1>
<div th:each="movie : ${movies}">
    <h2 th:text="${movie.title}">Movie Title</h2>
    <p>Posted by <span th:text="${movie.user.username}">Username</span></p>
    <p th:text="${movie.description}">Description</p>

    <div th:if="${#authorization.expression('isAuthenticated()') and movie.likes == 0 and movie.hates == 0}">
        <p>Be the first to vote for this movie: </p>
    </div>
    <!-- Render voting buttons only if the user is authenticated and is not the owner of the movie -->
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <div th:unless="${movie.user.username == #authentication.principal.username}">
            <!-- Check if the user has liked/hated this movie -->
            <form method="post" th:action="@{/movies/{movieId}/vote(movieId=${movie.id})}">
                <input name="movieId" th:value="${movie.id}" type="hidden"/>
                <input name="opinion" type="hidden" value="L"/>
                <button th:if="${!movie.alreadyLiked}" type="submit">Like</button>
                <button th:if="${movie.alreadyLiked}" type="submit">Unlike</button>
            </form>
            <form method="post" th:action="@{/movies/{movieId}/vote(movieId=${movie.id})}">
                <input name="movieId" th:value="${movie.id}" type="hidden"/>
                <input name="opinion" type="hidden" value="H"/>
                <button th:if="${!movie.alreadyHated}" type="submit">Hate</button>
                <button th:if="${movie.alreadyHated}" type="submit">Unhate</button>
            </form>
        </div>
    </div>


    <div>
        <span th:text="${movie.likes} + ' likes | ' + ${movie.hates} + ' hates'">Votes</span>
    </div>
</div>

</body>
</html>
